<style type="text/css">
  table { width: 100%; }
  td.unparsed { font-style: italic; }
  tr.group {
      background-color: #2f4f4f;
      color: white;
  }
  tr.group td {
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: right;
      margin: 8px;
  }
  td.title { text-align: right; }

</style>
<table>
<%- groupify(@episodes, Proc.new {|ep| ep.aired_at || ep.phile.file_created_at }).each do |pair|
    (group, episodes) = pair
-%>
<tr class="group"><td colspan="4">Aired less than <%= time_ago_in_words group %> ago</td></tr>
<%-
    episodes.each do |episode|
        show = episode.show
-%>
<tr>
      <td class="parsed"><%= show.name[0..30] %></td><td><%= episode.season %></td><td><%= episode.number %></td>
      <td class="title"><%= episode.title %></td>
</tr>
      <%- end -%>
  <%- end -%>
</table>
