%p= link_to "New", new_media_root_path
- if collection.any?
  %table
    %thead
      %tr
        - collection.first.attributes.each do |a|
          %th= a[0]
    %tbody
      - collection.each do |r|
        %tr
          - r.attributes.each do |a|
            %td= a[1]
          %td= link_to "Show", media_root_path(r)
          %td= link_to "Edit", edit_media_root_path(r)
          %td= link_to "Destroy", media_root_path(r), :confirm => 'Are you sure?', :method => :delete
