%ul.horizontal_menu
  %li= link_to "Main", :root
  %li= link_to "Files", :philes
  %li= link_to "Episodes", :episodes
  %li= link_to "Shows", :shows
  %li= link_to "Paths", :media_roots
  %li= link_to "Admin", '/admin_data'
