<%-
    show = episode.show
    click_url = episode_path(episode)
-%>
<li class="episode clickable" href="<%= click_url %>"
    data-episode-id="<%= episode.id %>"
    data-show-id="<%= episode.show_id %>">
  <h3> <%= link_to_if false, show.name[0..30], show_episodes_path(show) %></h3>
  <p><strong><%= link_to_if false, episode.title, episode_path(episode) %></strong></p>
  <p><%= episode.overview %></p>
  <p class="ui-li-aside"> <%= episode.season %> - <%= episode.number %></p>
</li>
