<%-
    show = episode.show
    if @show
        click_url = ""
    else
        click_url = show_episodes_path(show)
    end
-%>
<li class="episode clickable" href="<%= click_url %>" >
                <h3> <%= link_to_if false, show.name[0..30], show_episodes_path(show) %></h3>
                <p><strong><%= link_to_if false, episode.title, episode_path(episode) %></strong></p>
                <p><%= episode.overview %></p>
                <p class="ui-li-aside"> <%= episode.season %> - <%= episode.number %></p>

</li>
