
<table id="episode-list">
<%- groupify(@episodes, Proc.new {|ep| ep.aired_at || ep.phile.file_created_at }).each do |pair|
    (group, episodes) = pair
-%>
<tr class="group"><td colspan="4">Aired less than <%= time_ago_in_words group %> ago</td></tr>
<%-
    episodes.each do |episode|
        show = episode.show
-%>
<tr>
      <td class="parsed"><%= show.name[0..30] %></td><td><%= episode.season %></td><td><%= episode.number %></td>
      <td class="title"><%= episode.title %></td>
</tr>
      <%- end -%>
  <%- end -%>
</table>
