<%-
    episode = resource
    show = episode.show
-%>
<h1><%= link_to show.name[0..30], show_episodes_path(show) %></h1>
<p>Season <%= episode.season %>, Episode <%= episode.number %></p>
<p><strong><%= episode.title %></strong></p>
<h3>Overview</h3>
<p><%= episode.overview %></p>

<div data-role="fieldcontain">
	<select name="watched" id="watched_<%= episode.id %>"
            data-episode-id="<%= episode.id %>"
            data-role="slider">
		<option value="off">Unwatched</option>
		<option value="on" selected>Watched</option>
	</select> 
</div>


<div>
  <a href="/episodes/popup">Mark Watched</a>
</div>
