%table.list
  - groupify(collection).each do |pair|
    - (group, files) = pair
    %tr.group
      %td{:colspan => "4"}
        Downloaded less than #{time_ago_in_words group} ago
    - files.each do |file|
    - episode = file.episode_spec
    - showobj = file.show
    - episodeobj = file.episode
      %tr
        - if episodeobj
          %td.parsed{"data-path" => file.path}= link_to showobj.name, showobj
          %td= link_to file.filename, phile_path(file)
          %td= episodeobj.season
          %td= link_to episodeobj.number, episodeobj
        - elsif episode
          %td.parsed{"data-path" => file.path}= episode.series[0..30]
          %td= link_to file.filename, phile_path(file)
          %td= episode.season
          %td= episode.episode
        - else
          %td.unparsed{:colspan => "4", "data-path" => file.path}= link_to file.name[0..20], phile_path(file)
